# {{ ansible_managed }}

description "FitNesse acceptance testing framework"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ fitnesse_username }}
setgid {{ fitnesse_group }}

chdir {{ fitnesse_path }}

env JAVA_APP=fitnesse-standalone.jar
env JAVA_OPTS="-Xms{{ fitnesse_xms|default('128M') }} -Xmx{{ fitnesse_xmx|default('512M') }} -server"
env APP_OPTS="-p {{ fitnesse_port }}"
env LOGFILE=/var/log/fitnesse/java.log

script
    exec /usr/bin/java $JAVA_OPTS -jar $JAVA_APP $APP_OPTS >> $LOGFILE 2>&1
end script
